.board-row {
    border-collapse: collapse;
    margin: 0px; 
}

.square {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid grey;
    border-collapse: collapse;
}

.square:active {
    background-color: lightblue;
}